@import url('https://fonts.googleapis.com/css2?family=Epilogue:ital,wght@0,100..900;1,100..900&family=Fraunces:ital,opsz,wght@0,9..144,100..900;1,9..144,100..900&family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

* {
    box-sizing: border-box;
    padding: 0;
    border: 0;
}

body {
    font-family: "Epilogue", sans-serif;
    min-height: 100vh;
    position: relative;
    background-color: hsl(0, 0%, 98%);

}

.nave-container {
    display: flex;
    width: 100%;
    align-items: center;
    justify-content: space-between;
    max-width: 1440px;
    margin: 0 auto;
    padding-inline: 3rem;
}

.nav-left {
    display: flex;
    align-items: center;
}

.nav-link {
    display: flex;
    margin-left: 4rem;
    list-style: none;
    gap: 2.5rem;
}

.nav-link li {
    cursor: pointer;
    color: var(--Medium-Gray);
    display: flex;
    align-items: center;
    gap: 0.5rem;
    position: relative;
}

.nav-link li:hover {
    color: var(--Almost-Black);
}

.mobile-menu-btun {
    display: none;
}

.mobile-menu {
    display: none;
}


.logo {
    margin: 14px;
}

ul {
    display: flex;
    text-decoration: none;
    list-style: none;
}

ul li {
    padding-left: 50px;
    cursor: pointer;
    color: hsl(0, 0%, 41%);
}

ul li:hover {
    color: black;
}

.hidden {
    display: none;
}

.sub-menu {
    border-radius: 10px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.659);
    padding: 1rem;
    margin-top: 5px;
    position: absolute;
    background-color: var(--Almost-White);
    text-align: center;
    gap: 1rem;

}

.sub-menu .sub-link {
    display: flex;
    align-items: center;
    width: 100px;
    gap: .5rem;
}

.one {
    bottom: -205px;
    right: -12px;

}

.two {
    bottom: -170px;
    right: -12px;
}

.active .arrow {
    transform: rotation(180deg);
    transition: 0.2s;
}

.active-menu {
    display: flex !important;
}

.register {
    border: 1px solid rgb(108, 108, 108);
    border-radius: 10px;
    padding: 8px 16px;

}

.register:hover {
    border: 1px solid black;
}

.mobile-list img {
    display: none;
    position: absolute
}

/*Main styles*/
.main-container {
    display: flex;
    justify-content: space-around;
    flex-direction: row;
}
.description {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

h1 {
    padding-top: 50px;
    font-size: 80px;
    margin-bottom: 15px;
}

.description p {
    color: hsl(0, 0%, 41%);
    margin-bottom: 40px;
    line-height: 1.5rem;
}

button {
    width: 100px;
    height: 40px;
    border: 1px solid black;
    border-radius: 10px;
    background-color: rgb(0, 0, 0);
    color: white;
    margin-bottom: 40px;
}

button:hover {
    background-color: white;
    color: black;
    font-weight: bolder;
}

.mark {
    display: flex;
    justify-content: space-between;
    width: 420px;

}

.prod {
    height: 24px;
    max-width: 800px;
    ;
}

.img img {
    padding-top: 50px;
    width: 400px;
    height: 572px;
}


.attribution {
    font-size: 11px;
    text-align: center;
}

.attribution a {
    color: hsl(228, 45%, 44%);
}

@media only screen and (max-width :600px) {
    .nave-container {
        padding-inline: 1rem;
    }

    .mobile-menu-btun {
        display: flex;
        cursor: pointer;
        z-index: 999;
    }

    .mobile-menu {
        display: none;
        flex-direction: column;
        position: absolute;
        right: 0;
        top: 0;
        bottom: 0;
        width: 70px;
        background-color: var(--Almost-White);
        padding: 5rem 2rem;

    }

    .mobile-link {
        display: flex;
        flex-direction: column;
        gap: 1rem;
        list-style: none;

    }

    .mobile-link li {
        display: flex;
        color: var(--Medium-Gray);
        flex-direction: column;
    }

    .mobile-link li p {
        display: flex;
        align-items: center;
        gap: 1rem;
    }

    .mobile-sub {
        display: none;
        flex-direction: column;
        gap: 1rem;
    }

    .overflow {
        background-color: black;
        display: none;
        position: absolute;
        top: 0;
        bottom: 0;
        left: 0;
        opacity: 0.7;
    }

    .nav-link {
        display: none;
    }

    .nav-right {
        display: none;
    }

    .main-container {
        display: flex;
        flex-direction: column-reverse;
        align-items: center;
        text-align: center;
    }



    .img img {
        padding-top: 50px;
        width: auto;
        height: 650px;
    }



.main-container br {
    display: none;
}

h1 {
    font-size: 2.2rem;
}

h1,
p {
    text-align: center;
}

.description {
    justify-content: center;
    align-items: center;
}

.mark{
    width: 100%;
    padding-inline: 1rem;
    
}

.attribution {
    margin-top: 20px;
}
}